# From ansible static-ip/templates/interfaces.j2

# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
auto {{device}}
iface {{device}} inet static
address {{address}}
netmask {{netmask}}
network {{network}}
broadcst {{broadcst}}
gateway {{gateway}}
dns-nameservers {{nameservers}}
